body {
    background-color: pink;
}

div {
    background-color: aqua;
    width: 75%;
    height: 70%;
    margin: auto;
    text-align: center; 
}

h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

input {
    font-size: 25px;
    width: 500px;
    height: 50px;
    background-color: aqua;
    cursor: pointer;
    text-decoration: arial;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
}

.container {
    height: 80%;
}